/* header */

.header{
  min-width: 100vw;
}

.header > .navbar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.header > .navbar > .navbar-brand{
  color: white;
  font-size: 40px;
  margin-left: 20%;
}

.header > .navbar > .collapse{
  margin-right: 20%;
}

.header > .navbar > .collapse > ul > li{
  margin: 5px;
}

.header > .navbar > .collapse > ul > .active{
  border-bottom: solid 3px #0099ff;
}

.header > .navbar > .collapse > ul > li > a{
  color: white;
  font-size: 15px;
}

.header > .navbar > .collapse > ul > .bor:hover > a{
  border-bottom: solid 3px #0099ff;
}

.header > .navbar > .collapse > ul > .dropdown > .dropdown-menu > a:hover{
  color: white;
  background-color: #0099ff;
}

/* section 1*/

.section-1{
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../img/johannes-plenio-qkfxBc2NQ18-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.section-1 > .container-fluid > .para{
  color: white;
}

.section-1 > .container-fluid > .para > h1{
  margin-top: 430px;
  font-size: 50px;
}

.section-1 > .container-fluid > .para > p{
  font-size: 20px;
}

.section-1 > .container-fluid > .button > .btn{
  margin-top: 3%;
  font-size: 20px;
  padding: 7px 20px;
}

.section-1 > .container-fluid > .button > .btn:hover{
  color: white;
  background-color: #0099ff;
  border: none;
}

/* section 2 */

.section-2{
  min-width: 100vw;
  min-height: 600px;
}

.section-2 > .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.section-2 > .content > .para{
  width: 500px;
  margin-left: 20px;
}

.section-2 > .content > .para > ul > li{
  display: flex;
  flex-direction: row;
  margin: 10px;
  position: relative;
  right: 50px;
}

.section-2 > .content > .para > ul > li > .icon > i{
  padding: 20px 20px;
  font-size: 25px;
  color: #0099ff;
  border: solid 3px #0099ff;
}

.section-2 > .content > .para > ul > li > p{
  text-decoration: none;
  margin-left: 30px;
}

.section-2 > .content > .img > .image{
  width: 45vw;
}

/* section 3 */

.section-3{
  min-width: 100vw;
  min-height: 400px;
  background-color: #e6e6e6;
}

.section-3 > .container > .fac > .col-md > h1{
  margin-top: 80px;
}

.section-3 > .container > .cal > .num-4 > p{
  margin-bottom: 50px;
}

.section-3 > .container > .cal > .col-md > h1{
  margin-top: 50px;
  color: #0099ff;
}

/* section 4 */

.section-4{
  min-width: 100vw;
  min-height: 700px;
}

.section-4 > .container > .row > .col-md{
  margin: 20px;
}

.section-4 > .container > .row > .col-md > .card > .card-body{
  background-color: #e6e6e6;
}

.section-4 > .container > .row > .col-md > .card > .card-body > .icon > a{
  position: relative;
  bottom: 40px;
  font-size: 30px;
  color: white;
  background-color: #0099ff;
  padding: 10px 15px;
  border-radius: 100%;
}

.section-4 > .container > .row > .col-md > .card > .card-body > .icon > a:hover{
  color: #0099ff;
  background-color: white;
  border: solid 3px #0099ff;
}

.section-4 > .container > .first{
  margin-top: 80px;
}

.section-4 > .container > .third{
  margin-bottom: 50px;
}

/* section 5 */
.section-5{
  min-width: 100vw;
  min-height: 300px;
  background-image: url(../img/soroush-karimi-tUDlGlr1sAA-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.section-5 > .container{
  color: white;
}

.section-5 > .container > .row > .col-md-8 > .para{
  margin-top: 100px;
}

.section-5 > .container > .row > .col-md-4 > .button > button{
  margin-top: 135px;
  color: white;
  border: solid 1px white;
  padding: 5px 20px;
}

.section-5 > .container > .row > .col-md-4 > .button > button:hover{
  border: none;
  background-color: #0099ff;
}





@media (max-width : 768px){
  /* section 2 */
  .section-2 > .content{
    flex-direction: column-reverse;
  }

  .section-2 > .content > .img > .image{
    width: 60vw;
  }

  /* section 4 */
  .section-4 > .container > .row > .col-md > .card > .card-body > .icon > a{
    font-size: 25px;
  }

  .section-4 > .container > .row > .col-md > .card > .card-body > h5{
    font-size: 18px;
  }

  .section-4 > .container > .row > .col-md > .card > .card-body > p{
    font-size: 12px
  }

  
  /* section 5 */
  .section-5 > .container > .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-5 > .container > .row > .col-md-8 > .para{
    text-align: center;
  }

  .section-5 > .container > .row > .col-md-4 > .button > button{
    margin-top: 20px;
    margin-bottom: 50px;
  }


@media (max-width : 500px){
  /* section 1 */
  .section-1 > .container-fluid > .para > h1{
    font-size: 25px;
  }

  .section-1 > .container-fluid > .para > p{
    font-size: 12px;
  }

  .section-1 > .container-fluid > .button > .btn{
    font-size: 15px;
  }

  /* section 2 */
  .section-2 > .content > .para{
    width: 80vw;
  }

  .section-2 > .content > .para > h1{
    font-size: 25px;
  }

  .section-2 > .content > .para > p{
    font-size: 12px;
  }

  .section-2 > .content > .para > ul > li > p{
    font-size: 12px;
  }

  .section-2 > .content > .para > ul > li > .icon > i{
    font-size: 20px;
    padding: 10px 10px;
  }

  /* section 5 */
  .section-5 > .container > .row > .col-md-8 > .para > h3{
    font-size: 25px;
  }

  .section-5 > .container > .row > .col-md-8 > .para > p{
    font-size: 12px;
  }

  .section-5 > .container > .row > .col-md-4 > .button > button > h5{
    font-size: 12px;
  }

}